# Ports
OLLAMA_PORT=11434
WEBUI_PORT=8080

# Models to download (space-separated)
OLLAMA_MODELS="phi3 mistral llama3"

# Configuration
OLLAMA_KEEP_ALIVE=5m
OLLAMA_NUM_PARALLEL=1

# Telegram bot (optional)
TELEGRAM_TOKEN=
TELEGRAM_BOT_MODEL=phi3:latest